*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: auto;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(232, 170, 13, 0.5);
}

.barraNav{
  margin-top: 20px;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  padding: 2px;
}

.barraNav #imgPokemon{

  width: 400px;
  height: 100%;
  object-fit: cover;
  margin-right: 40px;
  
}

.barraNav #iconoHome{

  width: 50px;
  height: 50px;
  cursor: pointer;
}

.barraNav #contenedorNavegador{

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.barraNav #contenedorNavegador .divCarrito{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.barraNav #contenedorNavegador .divCarrito img{

  width: 50px;
  height: 40px;
  object-fit: cover;
  cursor:  pointer;

}

.barraNav #contenedorNavegador .divCarrito span{

  font-size: 25px;
  font-weight: 900;
  
}

.barraNav #contenedorNavegador #divBotones{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.barraNav #contenedorNavegador #divBotones button{

  width: 100px;
  height: 25px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 700;
  cursor:pointer;
  color: rgb(251, 238, 1);
  background-color: #2B72FE;
}

main{
  
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center; 
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 70px;
}

#divCards{
  
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 150px;
  
}

#divCards h1{

  align-self: flex-start;
  text-align: center;
  font-size: 50px; 
  position: absolute;
  top: 250px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#divCards .divCardsPokemones{
  border: 2px solid black;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

#divCards .divCardsPokemones img{
  width: 250px;
  height: 250px;
  margin-top: -50px;
}

#divCards .divCardsPokemones h2{

  font-size: 30px;
  text-decoration: underline;
}

#divCards .divCardsPokemones .divTipos{

  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

#divCards .divCardsPokemones .divTipos p{

  width: 60px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#divCards .divCardsPokemones .agregar{

  width: 70px;
  font-weight: 600;
  border: 1.5px solid black;
  cursor: pointer;
}